/*Header*/
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 45px;
}

/* Header Logo */
header .logo_container {
    width: 15%;
    padding-top: 56px;
    padding-left: 18px;
}

.logo {
    max-height: 100%;
    width: 50%;
    object-fit: contain;
    cursor: pointer;
}

/* Header nav */
header nav {
    width: calc(25% - 40px);
}

.nav__list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav__link {
    padding: 30px;
    padding-top: 65px;
    text-align: center;
    width: 100%;
    cursor: pointer;
}

.link {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: .5px;
}

.link_actif,
.link_inactif {
    border-top: solid 2px;
}

.link_actif {
    border-top-color: var(--blue-600);
}

.link_actif .link {
    color: var(--blue-600);
}

.link_inactif:hover {
    border-top: solid var(--blue-600) 2px;
}

.link_inactif:hover .link {
    color: var(--blue-600);
}

@media screen and (max-width: 992px) {
    .logo_container .logo {
        max-height: 100%;
        width: 100%;
    }

    header nav {
        width: auto;
    }
}

@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
        justify-content: center;
        padding-bottom: 0;
    }

    header .logo_container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60%;
        padding-top: 40px;
        padding-left: 0px;
        margin-bottom: 40px;
    }

    header nav {
        width: 100%;
    }

    .nav__link {
        padding: 10px;
        padding-bottom: 25px;
    }

    .link {
        font-size: 20px;
        font-weight: 500;
        letter-spacing: .5px;
    }

    .link_actif,
    .link_inactif {
        border-top: none;
    }

    .link_actif {
        border-bottom: solid var(--blue-600) 4px;
    }

    .link_inactif {
        border-bottom: solid var(--gray-900) 4px;
    }

    .link_inactif:hover {
        border-top: none;
        border-bottom-color: var(--blue-600);
    }

    .link_inactif:hover .link {
        color: var(--blue-600);
    }
}